pager = "less -R"
encryption = "gpg"

[add]
    secrets = "error"

[data]
    name = "Kevin Edwards"
    email = "kedwards@kevinedwards.ca"
    signkey = "75D91F9BAF5B9B62D44AE831284D94AD535D10B1"
    enable_i3 = true
    

[edit]
    apply = true

[git]
    autoCommit = true
    autoPush = true

[gpg]
    recipient = "kedwards@kevinedwards.ca"

[hooks.edit-config-template.post]
    command = "chezmoi"
    args = ["init"]

[hooks.read-source-state.pre]
    command = "/bin/sh"
    args = ["-c", "/bin/sh '{{ .chezmoi.workingTree }}/.chezmoihooks/run_install_password_manager.sh'"]
